:host {
	--color-fg-locked: #9e9e9e;
	--color-bg-locked: #ffab91;
	--color-bg-unavailable: #f9f9f9
}

.container.lock-plugin .calendars .calendar:first-child>.header.no-previous-month .previous-button,
.container.lock-plugin .calendars .calendar:last-child>.header.no-next-month .next-button {
	visibility: hidden
}

.container.lock-plugin .calendar>.days-grid>.day.not-available {
	background-color: var(--color-bg-unavailable);
	color: var(--color-fg-locked);
	font-style: italic;
	pointer-events: none
}

.container.lock-plugin .calendar>.days-grid>.day.locked {
	background-color: transparent;
	border: 1px solid var(--color-border-locked);
	color: var(--color-fg-locked);
	pointer-events: none
}

.container.lock-plugin .calendar>.days-grid>.day.locked:not(.start):not(.end) {
	background-image: repeating-linear-gradient(135deg, transparent, var(--color-bg-locked) 2px, transparent 2px, transparent 4px);
	font-style: italic
}

.container.lock-plugin .preset-plugin-container>button:disabled {
	color: var(--color-fg-locked);
	pointer-events: none
}

.container.preset-plugin>main {
	display: flex
}

.container.preset-plugin>main.preset-left {
	flex-direction: row-reverse
}

.container.preset-plugin>main.preset-right {
	flex-direction: row
}

.container.preset-plugin>main.preset-left .preset-plugin-container,
.container.preset-plugin>main.preset-right .preset-plugin-container {
	flex-direction: column;
	width: 130px
}

.container.preset-plugin>main.preset-top {
	flex-direction: column-reverse
}

.container.preset-plugin>main.preset-bottom {
	flex-direction: column
}

.container.preset-plugin>main.preset-bottom .preset-plugin-container,
.container.preset-plugin>main.preset-top .preset-plugin-container {
	flex-direction: row
}

.preset-plugin-container {
	background-color: var(--color-bg-secondary);
	display: flex;
	justify-content: space-between;
	padding: 10px
}

.preset-plugin-container>button {
	background-color: var(--color-bg-default);
	border: 1px solid transparent;
	border-radius: 4px;
	color: var(--color-fg-default);
	padding: 5px
}

.preset-plugin-container>button:hover {
	border: 1px solid var(--color-fg-primary);
	color: var(--color-fg-primary);
	cursor: pointer
}

:host {
	--color-bg-inrange: #d5dbff;
	--color-bg-tooltip: #fff;
	--color-fg-tooltip: #333
}

.range-plugin-tooltip {
	background-color: var(--color-bg-tooltip);
	border-radius: var(--border-radius);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
	color: var(--color-fg-tooltip);
	font-size: 12px;
	margin-top: -4px;
	padding: 4px 8px;
	pointer-events: none;
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
	z-index: 1
}

.range-plugin-tooltip:before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(0, 0, 0, .12);
	bottom: -5px;
	content: "";
	left: calc(50% - 5px);
	position: absolute
}

.range-plugin-tooltip:after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid var(--color-bg-tooltip);
	bottom: -4px;
	content: "";
	left: calc(50% - 4px);
	position: absolute
}

.container.range-plugin .calendar>.days-grid>.day {
	position: relative
}

.container.range-plugin .calendar>.days-grid>.day.in-range:last-of-type {
	border-bottom-right-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius)
}

.container.range-plugin .calendar>.days-grid>.day.in-range {
	background-color: var(--color-bg-inrange);
	border-radius: 0
}

.container.range-plugin .calendar>.days-grid>.day.end,
.container.range-plugin .calendar>.days-grid>.day.start {
	background-color: var(--color-fg-primary);
	color: var(--color-fg-selected)
}

.container.range-plugin .calendar>.days-grid>.day.start {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}

.container.range-plugin .calendar>.days-grid>.day.start:after {
	border: 8px solid transparent;
	border-left: 8px solid var(--color-fg-primary);
	content: "";
	pointer-events: none;
	position: absolute;
	right: -14px;
	z-index: 1
}

.container.range-plugin .calendar>.days-grid>.day.start.flipped {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: var(--border-radius);
	border-top-left-radius: 0;
	border-top-right-radius: var(--border-radius)
}

.container.range-plugin .calendar>.days-grid>.day.start.flipped:after {
	border-left-color: transparent;
	border-right-color: var(--color-fg-primary);
	left: -14px;
	right: auto
}

.container.range-plugin .calendar>.days-grid>.day.end {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}

.container.range-plugin .calendar>.days-grid>.day.end:after {
	border: 8px solid transparent;
	border-right: 8px solid var(--color-fg-primary);
	content: "";
	left: -14px;
	pointer-events: none;
	position: absolute;
	z-index: 1
}

.container.range-plugin .calendar>.days-grid>.day.end.flipped {
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: 0;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: 0
}

.container.range-plugin .calendar>.days-grid>.day.end.flipped:after {
	border-left-color: var(--color-fg-primary);
	border-right-color: transparent;
	left: auto;
	right: -14px
}

.container.range-plugin .calendar>.days-grid>.day.start.end {
	border-radius: var(--border-radius)
}

.container.range-plugin .calendar>.days-grid>.day.start.end:after {
	content: none
}

.container.range-plugin .calendar>.days-grid>div:not(.day)+.day.in-range {
	border-bottom-left-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius)
}

.container.range-plugin .calendar>.days-grid>div:nth-child(7n).in-range {
	border-bottom-right-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius)
}

.container.range-plugin .calendar>.days-grid>div:nth-child(7n+1).in-range {
	border-bottom-left-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius)
}

.container.preset-plugin main {
	display: grid
}

.container.preset-plugin main.preset-left>.calendars,
.container.preset-plugin main.preset-top>.calendars {
	order: 2
}

.container.preset-plugin main.preset-left>.preset-plugin-container,
.container.preset-plugin main.preset-top>.preset-plugin-container {
	order: 1
}

.container.preset-plugin main.preset-left,
.container.preset-plugin main.preset-right {
	grid-template-columns: auto auto
}

.container.preset-plugin main.preset-left .preset-plugin-container,
.container.preset-plugin main.preset-right .preset-plugin-container {
	grid-row: span 2;
	width: 130px
}

.container.preset-plugin main.preset-bottom>.preset-plugin-container {
	order: 4
}

.container.preset-plugin main.preset-bottom,
.container.preset-plugin main.preset-top {
	grid-template-columns: auto
}

.container.preset-plugin main>.time-plugin-container {
	order: 3
}

.container>main:not([class*=preset-]) {
	flex-direction: column
}

.time-plugin-container {
	background-color: var(--color-bg-secondary);
	border-bottom: 1px solid var(--color-border-default);
	display: flex;
	justify-content: space-around;
	padding: 10px
}

.time-plugin-container input[type=time] {
	font-size: 18px
}

.time-plugin-container input[type=time],
.time-plugin-container select {
	background-color: var(--color-bg-default);
	border: 1px solid transparent;
	border-radius: 4px;
	color: var(--color-fg-default)
}

.time-plugin-container select {
	margin: 0 3px
}

.container.amp-plugin .calendars .calendar>.header .month-name {
	align-items: center;
	-moz-column-gap: 5px;
	column-gap: 5px;
	display: flex;
	justify-content: center
}

.container.amp-plugin .calendars .calendar>.header .month-name select {
	border: none;
	font-size: 14px;
	padding: 3px
}

.container.amp-plugin .calendars .calendar>.header .month-name select.month-name--dropdown {
	font-weight: 700
}

.container.amp-plugin .calendars .calendar>.header .reset-button {
	order: 4
}

.container.amp-plugin .calendars.calendars:not(.grid-1) .calendar>.header .reset-button {
	visibility: hidden
}

.container.amp-plugin .calendars.calendars:not(.grid-1) .calendar:last-child>.header .reset-button {
	visibility: visible
}

.container.amp-plugin.week-numbers .calendar>.daynames-row,
.container.amp-plugin.week-numbers .calendar>.days-grid {
	grid-template-columns: 30px repeat(7, 1fr)
}

.container.amp-plugin.week-numbers .calendar>.daynames-row .wnum-header,
.container.amp-plugin.week-numbers .calendar>.daynames-row .wnum-item,
.container.amp-plugin.week-numbers .calendar>.days-grid .wnum-header,
.container.amp-plugin.week-numbers .calendar>.days-grid .wnum-item {
	align-items: center;
	color: var(--color-fg-muted);
	display: flex;
	font-size: 12px;
	justify-content: center
}

.container[data-theme=dark] {
	--color-bg-default: #22272e;
	--color-bg-secondary: #2d333b;
	--color-bg-inrange: #2c542e;
	--color-bg-locked: #ec775c;
	--color-bg-unavailable: #545d68;
	--color-bg-tooltip: #9e9e9e;
	--color-fg-default: #adbac7;
	--color-fg-primary: #46954a;
	--color-fg-secondary: #202122;
	--color-fg-muted: #9e9e9e;
	--color-fg-accent: #ec775c;
	--color-fg-locked: #9e9e9e;
	--color-btn-primary-bg: #2d333b;
	--color-btn-primary-fg: #46954a;
	--color-btn-primary-border: #46954a;
	--color-btn-primary-hover-bg: #46954a;
	--color-btn-primary-hover-fg: #fff;
	--color-btn-primary-hover-border: #46954a;
	--color-btn-secondary-bg: #2d333b;
	--color-btn-secondary-fg: #adbac7;
	--color-btn-secondary-border: #adbac7;
	--color-btn-secondary-hover-bg: #adbac7;
	--color-btn-secondary-hover-fg: #202122;
	--color-btn-secondary-hover-border: #adbac7;
	--color-border-default: #373e47;
	--color-border-locked: #2d333b
}